main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../public/imgs/ჯრტ-scaled.jpg);
    background-repeat: no-repeat;
    background-position: left;
    .info{
        display: flex;
        flex-direction: column;
        backdrop-filter: blur(15px);
        justify-content: center;
        gap:10px;
        border-radius: 15px;
        padding: 120px;
        transition: 0.3s;
        align-items: center;
        gap:30px;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        .infos{
        p{
            font-size: 30px;
            transition: 0.2s;
            &:hover{
                transform: scale(1.05);
            }
        }
    }
    .btn{
        button{
            width: 140px;
            height: 40px;
            background-color: red;
            color:white;
            border:1px solid black;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    }
}


@media screen and (max-width:610px) {
    .info{
        width: 370px;
        &:hover{
            transform: scale(1.0) !important;
        }
    }
}