main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 50px;
    gap:20px;
    .info{
        width: 50%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }
    .imgs{
        width: 50%;
        height: 60vh;
        background-color: yellow;
        border-radius: 40px;
        transition: 0.3s;
        cursor: pointer;
        background-image: url(../../../public/imgs/Emily-Lush-trains-in-Georgia-country-Batumi-train-Stadler.jpg);
        background-position: center;
        &:hover{
            transform: scale(1.05);
        }
    }
}

@media screen and (max-width:1087px) {
    .info{
        width: 100% !important;
    }
    main{
        height: 130vh;
    }
    .imgs{
        display: none;
        width: 0%;
    }
}

@media screen and (max-width:450px) {
    main{
        height: 160vh;
    }
}