<main>
    <div class="info">
    <h1 class="anton-regular">RailWay Georgia</h1>
    <p>საქართველოს რკინიგზა (სს "საქართველოს რკინიგზა") წარმოადგენს ქვეყნის მთავარ სარკინიგზო კომპანიას, რომელიც დაარსდა 1865 წელს და პირველი სამგზავრო მატარებელი 1872 წლის 10 ოქტომბერს გაეშვა ფოთიდან თბილისამდე. დღესდღეობით, ის სრულად სახელმწიფო საკუთრებაშია და ქვეყნის სატრანსპორტო ინფრასტრუქტურის ერთ-ერთ მნიშვნელოვან ნაწილს წარმოადგენს .</p>
    <h1>📊 ძირითადი ფაქტები და ინფრასტრუქტურა</h1>
    <ul>
        <li><strong>გზის სიგრძე:</strong> გაშლილი სიგრძე — 1,879 კმ, საექსპლუატაციო სიგრძე — 1,575 კმ</li>
        <li><strong>ლიანდაგის</strong> ტიპი: სტანდარტული რუსული ლიანდაგი — 1,520 მმ</li>
        <li><strong>ელექტრიფიცირებული ხაზები:</strong> 1,323.9 კმ</li>
        <li><strong>ხიდები და გვირაბები:</strong> 1,422 ხიდი და 32 გვირაბი</li>
        <li><strong>სადგურები:</strong> 22 სამგზავრო და 114 სატვირთო სადგური</li>
        <li><strong>მაქსიმალური ქანობი:</strong> 3.7%</li>
        <li><strong>მინიმალური რადიუსი:</strong> 160 მ </li>
    </ul> 
    <h1 class="anton-regular">🚆 სამგზავრო და სატვირთო მომსახურება</h1>
    <p>საქართველოს რკინიგზა უზრუნველყოფს როგორც შიდა, ასევე საერთაშორისო სამგზავრო და სატვირთო გადაზიდვებს. პოპულარული მიმართულებები მოიცავს თბილისი-ბათუმის ხაზს, სადაც გამოიყენება თანამედროვე ორსართულიანი მატარებლები Stadler-ისგან, მაქსიმალური სიჩქარით 160 კმ/სთ. სატვირთო გადაზიდვები წარმოადგენს კომპანიის შემოსავლის ძირითად წყაროს, სადაც 95%-ზე მეტი შემოსავალი მოდის სატვირთო ოპერაციებიდან, მათ შორის ნავთობის და სხვა ტვირთების ტრანზიტით .</p>
</div>
    <div class="imgs">
    </div>
</main>