<main>
    <div class="choose">
        <div class="chooses">
        <div class="first">
            <label for="">დან:</label>
        <select name="rerw" id="" class="sel">
            <option class="selChild" value="თბილისი">თბილისი</option>
            <option class="selChild" value="ბათუმი">ბათუმი</option>
            <option class="selChild" value="ფოთი">ფოთი</option>
        </select>
        </div>
        <div class="second">
            
            <label for="">მდე:</label>
            <select name="" id="" class='sel2'>
                <option class="selChild2" value="ბათუმი">ბათუმი</option>
                <option class="selChild2" value="ფოთი">ფოთი</option>
                <option class="selChild2" value="თბილისი">თბილისი</option>
            </select>  
            </div>
        <div class="dat">
            <label for="">თარიღი:</label>
        <input  type="date" class="dateINP" />
    </div>
</div>
    <div class="button">
        <button class="search" (click)="filter()" >მოძებნე</button>
    </div>
    </div>
    <div class="trainsParent">
<div class="train" *ngFor="let el of trains">
<p>{{el.name}}</p>
<p>გასვლა: {{el.date}}, {{el.departure}}</p>
<p>ჩასვლის დრო: {{el.arrive}}</p>
<p>მატარებლის ნომერი: {{el.number}}</p>
<button routerLink="/trains/id">click</button>
</div>
</div>
</main>
