<main>
    <p id="p">{{user}}</p>
    <div class="choose">
        <div class="chooses">
        <div class="first">
            <label for="">დან:</label>
        <select name="rerw" id="" class="sel"  [(ngModel)]="from">
            <option value="">აირჩიე საიდან გინდა წასვლა</option>
            <option class="selChild" value="თბილისი">თბილისი</option>
            <option class="selChild" value="ბათუმი">ბათუმი</option>
            <option class="selChild" value="ფოთი">ფოთი</option>
        </select>
        </div>
        <div class="second">
            
            <label for="">მდე:</label>
            <select name="" id="" class='sel2'  [(ngModel)]="to">
                <option value="">აირჩიე სად გინდა წასვლა</option>
                <option class="selChild2" value="ბათუმი">ბათუმი</option>
                <option class="selChild2" value="ფოთი">ფოთი</option>
                <option class="selChild2" value="თბილისი">თბილისი</option>
            </select>  
            </div>
        <div class="dat">
            <label for="">თარიღი:</label>
        <input  type="date" class="dateINP"  [(ngModel)]="date"/>
    </div>
</div>
    <div class="button">
        <button class="search" (click)="filterBtn()" >მოძებნე</button>
    </div>
    </div>
    <div class="trainsParent">
<div class="train" *ngFor="let train of filter.trains">
<p>მოსვლა: {{train.arrive}}</p>
<p>საიდან: {{train.from}}</p>
<p>სადამდე: {{train.to}}</p>
<p>გასვლის დრო: {{train.departure}}</p>
<button routerLink="/trains/{{train.id}}">click</button>
</div>
</div>
</main>
