<header class="header">
        <div class="header__container">
            <a routerLink="/home" class="header__logo anton-regular">RailWay Georgia</a>
            
            <button (click)="togleBurger()" class="header__burger" aria-label="Toggle Menu">
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
                <span class="header__burger-line"></span>
            </button>
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li routerLink="/home" class="header__nav-link">შეიძინე ბილეთბი</li>
                    <li routerLink="/about" class="header__nav-link">ჩვენს შესახებ</li>
                    <li routerLink="/contact" class="header__nav-link">კონტაქტი</li>
                    <li *ngIf="!isAuht" routerLink="/profile" class="header__nav-link">რეგისტრაცია</li>
                    <li routerLink='/client-profile' class="header__nav-link">პროფილი</li>
                </ul>
            </nav>
        </div>
    </header>

    <app-mobile-nav *ngIf="show" (show)="hideBurger($event)"></app-mobile-nav>