nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
    h1{
        color:white;
        cursor:pointer;
        transition: 0.3s;
        &:hover{
            transform: scale(1.15);
        }
    }
    ul{
        display: flex;
        gap:20px;
        li{
            list-style: none;
            color: white;
            transition: 0.3s;
            cursor: pointer;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}