<main>
         <nav>
                <ul >
                    <li (click)="hide()" routerLink="/home">შეიძინე ბილეთბი</li>
                    <li (click)="hide()"  routerLink="/about">ჩვენს შესახებ</li>
                    <li (click)="hide()"  routerLink="/contact">კონტაქტი</li>
                    <li (click)="hide()"  routerLink="/profile">რეგისტრაცია</li>
                    <li (click)="hide()"  routerLink='/client-profile'>პროფილი</li>
                </ul>
                </nav>
</main>