.styleCard{
    display: flex;
    flex-direction: column;
    gap:20px;
    height: 70vh;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(..//..//..//public/imgs/photo-1509329502519-c7bec26f5808.jpg);
    background-position: center;
    background-repeat: no-repeat;
    .div{
        border:1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        background-color: red;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        transition: 300ms;
        &:hover{
            transform: scale(1.15);
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        p{
            color:white;
        }
    }
}

.h1{
    background-color: red;
    padding:10px;
    border-radius: 10px;
    color:white;
    cursor:cell
}