
<div class="footParent">
<div class="lilInfo">
<h1>RailWay Georgia</h1>
    <p>საქართველოს რკინიგზა (სს "საქართველოს რკინიგზა") წარმოადგენს ქვეყნის მთავარ სარკინიგზო კომპანიას, რომელიც დაარსდა 1865 წელს და პირველი სამგზავრო მატარებელი 1872 წლის 10 ოქტომბერს გაეშვა ფოთიდან თბილისამდე. დღესდღეობით, ის სრულად სახელმწიფო საკუთრებაშია და ქვეყნის სატრანსპორტო ინფრასტრუქტურის ერთ-ერთ მნიშვნელოვან ნაწილს წარმოადგენს .</p>
</div>
<main>
    <div class="upper">
        <div class="left">
            
        <div id="adr">
        <h3>მისამართი:</h3>
        <a href="https://maps.app.goo.gl/vRk79rf1Cbf1w5Lu9">რკინიგზის დეპარტამენტი, 15 თამარ მეფის გამზირი, თბილისი</a>
        </div>
        
        <div id="mail">
        <h3>ელ-ფოსტა:</h3>
        <p>maisuradze.llasha&#64;gmail.com</p>
        </div>
        
        <div id="num">
        <h3>ტელეფონის ნომერი:</h3>
        <p>( +995 12) 3-456-789</p>
        </div>
    </div>
    <div class="right">
        <div id="work">
        <h3>სამუშაო საათები:</h3>
        <p>24/7</p>
        </div>

        <div id="soc1">
        <h3>linkedin:</h3>
        <a href="https://www.linkedin.com/in/lasha-maisuradze-292255327/">Lasha Maisuradze</a>
        </div>
    
        <div id="soc2">
        <h3>IT აკადემია STEP</h3>
        <a href="https://ge.itstep.org/">IT აკადემია STEP</a>
        </div>
    </div>
    </div>
</main>
</div>
