.footParent{
display: flex;
flex-direction: row;
background-color: grey;
.lilInfo{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-top:30px;
    padding-left: 50px;
}
.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
main{
    width: 60%;
    padding-top: 20px;
    padding-bottom:50px;
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: center;
    align-items: center;
    background-color: grey;
    #h1{
        width: 100%;
        margin-left:300px;
    }
    .upper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .left{
            display: flex;
            flex-direction: column;
            gap:40px;
            #adr{
                display: flex;
                flex-direction: column;
                gap:10px;
            a{
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    color:red
                }
            }
        }
            #mail{
                display: flex;
                flex-direction: column;
                gap:10px;
                p{
                    text-decoration: none;
                    cursor:pointer;
                    transition: 0.3s;
                    &:hover{
                        color:red;
                    }
                }
            }
            #num{
                display: flex;
                flex-direction: column;
                gap:10px;
                p{
                    text-decoration: none;
                    cursor:pointer;
                    transition: 0.3s;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap:40px;
            #soc1{
                display: flex;
                flex-direction: column;
                gap:10px;
            a{
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    color:red
                }
            }
        }
            #soc2{
                display: flex;
                flex-direction: column;
                gap:10px;
                a{
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover{
                        color:red
                    }
                }
            }
            #work{
                display: flex;
                flex-direction: column;
                gap:10px;
                p{
                    text-decoration: none;
                    cursor:pointer;
                    transition: 0.3s;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
    }
}
}


@media screen and (max-width:1080px) {
    .lilInfo{
        display: none !important;
    }
    .footParent{
        justify-content: center;
        .left{
            width: 40%;
        }
        .right{
            display: flex;
            flex-direction: column;
            gap:40px;
            #soc1{
                display: flex;
                flex-direction: column;
                gap:10px;
            a{
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    color:red
                }
            }
        }
            #soc2{
                display: flex;
                flex-direction: column;
                gap:10px;
                a{
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover{
                        color:red
                    }
                }
            }
            #work{
                display: flex;
                flex-direction: column;
                gap:10px;
                p{
                    text-decoration: none;
                    cursor:pointer;
                    transition: 0.3s;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
    }
    main{
        width: 100% !important;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:410px) {
     .upper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .left{
            display: flex;
            flex-direction: column;
            gap:40px;
            #adr{
                display: flex;
                flex-direction: column;
                gap:10px;
            a{
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    color:red
                }
            }
        }
            #mail{
                display: flex;
                flex-direction: column;
                gap:10px;
                p{
                    text-decoration: none;
                    cursor:pointer;
                    transition: 0.3s;
                    
                    &:hover{
                        color:red;
                    }
                }
            }
            #num{
                display: flex;
                flex-direction: column;
                gap:10px;
                p{
                    text-decoration: none;
                    cursor:pointer;
                    transition: 0.3s;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
        .right{
            display: flex;
            flex-direction: column;
            gap:40px;
            #soc1{
                display: flex;
                flex-direction: column;
                gap:10px;
            a{
                text-decoration: none;
                transition: 0.3s;
                &:hover{
                    color:red
                }
            }
        }
            #soc2{
                display: flex;
                flex-direction: column;
                gap:10px;
                a{
                    text-decoration: none;
                    transition: 0.3s;
                    &:hover{
                        color:red
                    }
                }
            }
            #work{
                display: flex;
                flex-direction: column;
                gap:10px;
                p{
                    text-decoration: none;
                    cursor:pointer;
                    transition: 0.3s;
                    &:hover{
                        color:red;
                    }
                }
            }
        }
    }
}