<main>
    <div id="h1">
    <h1>კონტაქტი</h1>
</div>
    <div class="upper">
        <div class="left">
            
        <div id="adr">
        <h3>მისამართი:</h3>
        <a href="https://maps.app.goo.gl/vRk79rf1Cbf1w5Lu9">რკინიგზის დეპარტამენტი, 15 თამარ მეფის გამზირი, თბილისი</a>
        </div>
        
        <div id="mail">
        <h3>ელ-ფოსტა:</h3>
        <p>maisuradze.llasha&#64;gmail.com</p>
        </div>
        
        <div id="num">
        <h3>ტელეფონის ნომერი:</h3>
        <p>( +995 12) 3-456-789</p>
        </div>
    </div>
    <div class="right">
        <div id="work">
        <h3>სამუშაო საათები:</h3>
        <p>24/7</p>
        </div>

        <div id="soc1">
        <h3>linkedin:</h3>
        <a href="https://www.linkedin.com/in/lasha-maisuradze-292255327/">Lasha Maisuradze</a>
        </div>
    
        <div id="soc2">
        <h3>IT აკადემია STEP</h3>
        <a href="https://ge.itstep.org/">IT აკადემია STEP</a>
        </div>
    </div>
    </div>
    <div class="lower">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d47648.86531319987!2d44.730108316891624!3d41.71935181798704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440d2d3fecc959%3A0x5210f50486098907!2z4YOh4YOQ4YOl4YOQ4YOg4YOX4YOV4YOU4YOa4YOd4YOhIOGDoOGDmeGDmOGDnOGDmOGDkuGDluGDkA!5e0!3m2!1ska!2sge!4v1746784605550!5m2!1ska!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>
